@font-face {
  font-family: "Nationale";
  src: url("https://cdn.glitch.global/99f47cc5-a3af-41bd-9426-43d887207b59/Nationale-Medium.woff2?v=1648416316281")
      format("woff2"),
    url("https://cdn.glitch.global/99f47cc5-a3af-41bd-9426-43d887207b59/Nationale-Medium.woff?v=1648416316281")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nationale";
  src: url("https://cdn.glitch.global/99f47cc5-a3af-41bd-9426-43d887207b59/Nationale-DemiBold.woff2?v=1648416316408")
      format("woff2"),
    url("https://cdn.glitch.global/99f47cc5-a3af-41bd-9426-43d887207b59/Nationale-DemiBold.woff?v=1648416316496")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nationale";
  src: url("https://cdn.glitch.global/99f47cc5-a3af-41bd-9426-43d887207b59/Nationale-Bold.woff2?v=1648416316562")
      format("woff2"),
    url("https://cdn.glitch.global/99f47cc5-a3af-41bd-9426-43d887207b59/Nationale-Bold.woff?v=1648416316751")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
      margin: 0px;
      height: 100%;
    }

    .topbar {
      width: 100%;
      height: 54px;
      background-color: #FFFFFF;
      border-bottom: solid 1.4px #C9D1D930;
    }

    .s-href {
      font-family: "Neurial Grotesk", system-ui;
      font-weight: 500;
      color: inherit;
      text-decoration: none;
      font-size: 18px;
    }

    .s-href:hover {
      color: #00B3FF;
    }

    .copyright {
      font-family: "Neurial Grotesk", system-ui;
      font-weight: 600;
      color: #ABABAB;
    }

    .bi:active {
      opacity: 0.8;
    }

    ::-webkit-input-placeholder {
      color: #F0F0F0;
    }

    ::-moz-placeholder {
      color: #F0F0F0;
    }

    :-ms-input-placeholder {
      color: #F0F0F0;
    }

    :-moz-placeholder {
      color: #F0F0F0;
    }

    .searchbar {
      width: 80%;
      max-width: 640px;
      height: 56px;
      border: none;
      outline: none;
      border-radius: 8px;
      font-family: "Neurial Grotesk", system-ui;
      font-size: 20px;
      font-weight: 500;
      padding-left: 10px;
      filter: drop-shadow(0px 20px 16px rgba(0, 0, 0, 0.05));
      transition: linear 100ms;
      background-color: #FFFFFF;
      color: #CCCCCC;
    }

    .searchbar:focus {
      border: solid 2.6px #0094FF80;
    }

    .hc-main {
      width: 320px;
      height: 384px;
      background-color: #FFFFFF;
      filter: drop-shadow(0px 0px 26px rgba(0, 0, 0, 0.08));
      border-radius: 8px;
      display: inline-block;
    }
    
    .art-a {
      font-family: 'Neurial Grotesk', system-ui;
      font-weight: 500;
      font-size: 22px;
      color: #0094FF;
      text-decoration: none;
      text-align: left; 
      float: left;
      margin-left: 20px;
      cursor: pointer;
      margin-top: 30px;
    }
    
    .art-a:hover {
      color: #0094FF50;
    }
    
     @media only screen and (max-width: 670px) {
      .hc-main {
        display: block;
      }
      
      .hc-c2 {
        margin-top: 10px;
      }
    }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #0C0F14;
        color: #ADBAC7;
      }

      .topbar {
        background-color: #0C0F14;
      }

      .searchbar {
        background-color: #0C0F14;
        filter: drop-shadow(0px 20px 16px rgba(0, 0, 0, 0.5));
        color: #F8F8F8;
      }

      ::-webkit-input-placeholder {
        color: #CCCCCC;
      }

      ::-moz-placeholder {
        color: #CCCCCC;
      }

      :-ms-input-placeholder {
        color: #CCCCCC;
      }

      :-moz-placeholder {
        color: #CCCCCC;
      }
      
      .hc-main {
        background-color: #0C0F14;
        filter: drop-shadow(0px 0px 26px rgba(0, 0, 0, 0.5));
      }
      
      .messenger-toggle {
        filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.5));
      }
      
      .messenger {
         background-color: #0C0F14;
        filter: drop-shadow(0px 0px 26px rgba(0, 0, 0, 0.5));
      }
    }

@font-face {
    font-family: 'Neurial Grotesk';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Bold.woff2?v=1622426113808') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Bold.woff?v=1622426113395') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neurial Grotesk';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Light.woff2?v=1622426115945') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Light.woff?v=1622426114809') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neurial Grotesk';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Medium.woff2?v=1622426118336') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Medium.woff?v=1622426117209') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neurial Grotesk';
    src: url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Regular.woff2?v=1622426120692') format('woff2'),
        url('https://cdn.glitch.com/a9c4e687-7c99-4065-88c1-02e69edfd394%2FNeurialGrotesk-Regular.woff?v=1622426119595') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -moz-animation: reveal 1s ease-in 1 normal forwards;
  -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

.animate-second {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

::selection {
  background-color: #0094FF50;
}
